<h2>Create a Cocktail</h2>

<%= simple_form_for @cocktail do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<%= link_to "Go back to cocktails list", cocktails_path %>

