<h2><%= @cocktail.name %></h2>
<ul>
  <li><%= @cocktail.ingredients %></li>
  <li><%= @cocktail.doses %></li>
</ul>

<%= cl_image_tag @cocktail.photo.key, height: 400, width: 400, crop: :fill %>

<%= link_to "Add a dose" %>

<%= link_to "Go back to cocktails list", cocktails_path %>
